@tailwind base;
@tailwind components;
@tailwind utilities;


code {

    /* background: #b8acac; */
    /* border: 1px solid #ddd;
    border-left: 3px solid #f36d33; */
    display: block;
    background: none;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    max-width: 100%;
    min-width: 100px;
    padding: 0;
    background: #ffeff0;
    word-wrap: break-word;
    box-decoration-break: clone;
    padding: .1rem .3rem .2rem;
    border-radius: .2rem;
    text-align: left;
}